.content {
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__item {
    width: 388px;
    height: 232px;

    @media screen and(min-width:768px) {
      width: 353px;
      height: 230px;
    }
    @media screen and(min-width:1200px) {
      width: 569px;
      height: 291px;
    }

    border: 1px solid var(--border-clor);
    border-radius: 4px;

    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    transition: box-shadow (var(--kubik));

    &:nth-child(1) {
      // background-image: url(../images/content/presentation-lg.jpg);

      @include mq(mobile) {
        background-image: url(../images/content/presentation-sm.jpg);
        background-image: -webkit-image-set(url(../images/content/presentation-sm.webp) 1x);
        @include mq(retina) {
          background-image: url(../images/content/presentation-sm@2x.jpg);
          background-image: -webkit-image-set(url(../images/content/presentation-sm@2x.webp) 2x);
        }
      }
      @include mq(tablet) {
        background-image: url(../images/content/presentation-md.jpg);
        background-image: -webkit-image-set(url(../images/content/presentation-md.webp) 1x);
        @include mq(retina) {
          background-image: url(../images/content/presentation-md@2x.jpg);
          background-image: -webkit-image-set(url(../images/content/presentation-md@2x.webp) 2x);
        }
      }
      @include mq(desktop) {
        background-image: url(../images/content/presentation-lg.jpg);
        background-image: -webkit-image-set(url(../images/content/presentation-lg.webp) 1x);
        @include mq(retina) {
          background-image: url(../images/content/presentation-lg@2x.jpg);
          background-image: -webkit-image-set(url(../images/content/presentation-lg@2x.webp) 2x);
        }
      }
    }
    &:nth-child(2) {
      @include mq(mobile) {
        background-image: url(../images/content/selling-sm.jpg);
        // background-image: -webkit-image-set(url(../images/content/selling-sm.webp) 1x);
        // @include mq(retina) {
        //   background-image: url(../images/content/selling-sm@2x.jpg);
        //   // background-image: -webkit-image-set(url(../images/content/selling-sm@2x.webp) 2x);
        // }
      }
      @include mq(tablet) {
        background-image: url(../images/content/selling-md.jpg);
        // background-image: -webkit-image-set(url(../images/content/selling-md.webp) 1x);
        // @include mq(retina) {
        //   background-image: url(../images/content/selling-md@2x.jpg);
        //   // background-image: -webkit-image-set(url(../images/content/selling-md@2x.webp) 2x);
        // }
      }
      @include mq(desktop) {
        background-image: url(../images/content/selling-lg.jpg);
        // background-image: -webkit-image-set(url(../images/content/selling-lg.webp) 1x);
        // @include mq(retina) {
        //   background-image: url(../images/content/selling-lg@2x.jpg);
        //   // background-image: -webkit-image-set(url(../images/content/selling-lg@2x.webp) 2x);
        // }
      }
    }
    &:nth-child(3) {
      @include mq(mobile) {
        background-image: url(../images/content/icon-courses-sm.png),
          url(../images/content/courses-sm.jpg);
        // background-image: -webkit-image-set(url(../images/content/icon-courses-lg.webp) 1x);
        // @include mq(retina) {
        //   background-image: url(../images/content/icon-courses-lg@2x.jpg);
        //   // background-image: -webkit-image-set(url(../images/content/icon-courses-lg@2x.webp) 2x);
        // }
        background-position: 16px 48px, center bottom;
        background-size: auto, contain;
      }
      @include mq(tablet) {
        background-image: url(../images/content/icon-courses-md.png),
          url(../images/content/courses-md.jpg);
        // background-image: -webkit-image-set(url(../images/content/icon-courses-lg.webp) 1x);
        // @include mq(retina) {
        //   background-image: url(../images/content/icon-courses-lg@2x.jpg);
        //   // background-image: -webkit-image-set(url(../images/content/icon-courses-lg@2x.webp) 2x);
        // }
        background-position: 16px 48px, center bottom;
        background-size: auto, contain;
      }
      @include mq(desktop) {
        background-image: url(../images/content/icon-courses-lg.png),
          url(../images/content/courses-lg.jpg);
        // background-image: -webkit-image-set(url(../images/content/icon-courses-lg.webp) 1x);
        // @include mq(retina) {
        //   background-image: url(../images/content/icon-courses-lg@2x.jpg);
        //   // background-image: -webkit-image-set(url(../images/content/icon-courses-lg@2x.webp) 2x);
        // }
        background-position: 16px 26px, center bottom;
        background-size: auto, contain;
      }
      // background-image: url(../images/content/icon-courses-lg.png),
      //   url(../images/content/courses-lg.jpg);
    }
    // &:nth-child(4) {
    //   background-image: url(../images/content/site-lg.jpg);
    // }

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__link {
    position: relative;

    height: 100%;
    padding: 20px 16px;
    @media screen and(min-width:1200px) {
      padding-top: 26px;
    }
  }

  &__subtitle {
    margin-bottom: 12px;

    @media screen and(min-width:768px) {
      margin-bottom: 10px;
    }
    @media screen and(min-width:1200px) {
      margin-bottom: 13px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.176;
    letter-spacing: 0;

    color: var(--main-color-font);

    // &--selling {
    //   padding-right: 200px;
    // }

    @media screen and(min-width:768px) {
      font-size: 16px;
      line-height: 1.125;
    }

    @media screen and(min-width:1200px) {
      font-size: 18px;
      line-height: 1.167;
    }

    &--courses {
      padding-left: 84px;
      @media screen and(min-width:1200px) {
        padding-left: 100px;
      }
    }
  }
  &__number {
    position: absolute;
    top: 8px;
    right: 8px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;

    color: var(--number-clor);
  }
}
