.content {
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__item {
    width: 569px;
    height: 291px;

    border: 1px solid #bababa;
    border-radius: 4px;

    background-repeat: no-repeat;
    background-position: center bottom;

    transition: box-shadow (var(--kubik));

    &:nth-child(1) {
      background-image: url(../images/content/presentation-lg.jpg);
    }
    &:nth-child(2) {
      background-image: url(../images/content/selling-lg.jpg);
      background-position: right center;
    }
    &:nth-child(3) {
      background-image: url(../images/content/icon-courses-lg.png),
        url(../images/content/courses-lg.jpg);
      background-position: 16px 26px, center bottom;
    }
    &:nth-child(4) {
      background-image: url(../images/content/site-lg.jpg);
    }

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__link {
    height: 100%;
    padding: 26px 16px;
  }

  &__subtitle {
    margin-bottom: 24px;
  }
  &__description {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.176;
    letter-spacing: 0;

    color: var(--main-color-font);

    &--selling {
      padding-right: 200px;
    }
    &--courses {
      padding-left: 100px;
    }
  }
}
