.main-nav {
  &__list {
    display: flex;
    justify-content: center;
    gap: 90px;

    margin-left: auto;
    margin-right: auto;
  }
  //   &__item {
  //   }
  &__link {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;

    color: var(--main-color-font);
    @media screen and(min-width:768px) {
      display: block;
    }
    @media screen and(min-width:1200px) {
      font-size: 16px;
      line-height: 1.125;
    }

    &:hover,
    &:focus {
      color: #104849;

      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
}
