:root {
  // Кольори
  --accent-color: #104849;
  --accent-color-yellow: #fff200;
  --txt-clor-white: #ffffff;
  --main-color-font: #000000;

  --footer-bg-color: #002526;

  // Шрифти
  --main-font: 'Tinos', serif;
  --secodary-font: 'Brygada 1918', serif;

  // Переходи
  --kubik: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
